.container {
    position: relative;
    width: 100%;
    background: #EFEFFC;
}
.sub-container {
    position: relative;
    display: flex;
}
.branding-container {
    padding: 32px 0;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.branding-container img {
    width: 160px;
}
.branding-container p {
    padding: 6px 0 0 38px;
    margin: 0;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #030163;
}
.section-title {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #8800F0;
}
a {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #030163;
    text-decoration: none;
}
.main-pages {
    padding: 24px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.legal-pages {
    padding: 24px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.contact-container {
    padding: 24px 0;
    flex: 3;
    display: flex;
    flex-direction: column;
}
.contact-container .section-title {
    padding: 0 150px;
    max-width: 180px;
    align-self: flex-end;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #6100C6;
}
.contact-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0 150px 0 0;
}
.contact-container li {
    float: right;
}
.contact-container li a {
    display: block;
    padding-left: 16px;
    text-decoration: none;
}

@media screen and (max-width: 960px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    .sub-container {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .branding-container img {
        width: 300px;
    }
    .branding-container p {
        display: none;
    }
    .main-pages {
        position: relative;
        width: 100%;
        padding: 0 0 18px 0;
    }
    .legal-pages {
        position: relative;
        width: 100%;
        padding: 0 0 18px 0;
    }
    .contact-container {
        position: relative;
        width: 100%;
        padding: 0;
        padding: 0 0 18px 0;
    }
    .contact-container .section-title {
        position: relative;
        padding: 0;
        text-align: left;
        align-self: start;
        display: unset;
        margin: 0;
        max-width: unset;
    }
    .contact-container ul {
        padding: 0;
        margin: 14px 0 0 0;
    }
    .contact-container li {
        float: left;
    }
    .contact-container li a {
        padding: 0 32px 0 0;
    }
}