.container {
    position: relative;
    background-color: #030163;
    height: 98px;
    width: 100%;
}
.teleport-logo {
    position: absolute;
    width: 180px;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.navigation-list {
    position: relative;
    display: flex;
    list-style-type: none;
    margin: 0;
    top: 20px;
}
.navigation-item {
    color: white;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}
.navigation-item:hover {
    color: wheat;
}
.selected-navigation-item {
    color: burlywood;
}