.container {
    background-color: #8800f0;
    height: 60px;
    width: 100%;
}
.navigation-list {
    position: relative;
    display: flex;
    list-style-type: none;
    margin: 0;
    top: 20px;
}
.navigation-item {
    color: white;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}
.navigation-item:hover {
    color: wheat;
}
.selected-navigation-item {
    color: burlywood;
}