.container {
    position: relative;
    width: 100%;
    height: 615px;
    display: flex;
    background: linear-gradient(247.24deg, #E127EB -25.19%, #8800F0 35.96%, #00F2FF 100.85%);;
}
.container .left {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:  flex-end;
}
.container .left ul {
    position: relative;
    top: 32px;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 20px;
}
.container .left li {
    position: relative;
    display: block;
}
.container h1 {
    position: relative;
    width: 576px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 87px;
    color: white;
}
.container h2 {
    position: relative;
    top: -12px;
    width: 497px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: white;
}
.container form {
    position: relative;
}
.container form input {
    position: relative;
    top: 3px;
    width: 272px;
    height: 48px;
    padding-left: 16px;
    background: #F7F9FA;
    border: 2px solid #030163;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #030163;
}
.container form input:focus {
    outline-width: 0;
}
.container form input::placeholder {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #6D63A6;
}
.container form button {
    position: relative;
    border: none;
    top: 3px;
    left: -4px;
    min-width: 220px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 10px;
    height: 48px;
    background: #030163;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}
.container form button:active {
    outline-width: 0;
}
.container form button:focus {
    outline-width: 0;
}
.waiting-list-loader {
    position: absolute;
    width: 30px;
    top: 12px;
    margin: 0;
    padding: 0;
}
.container .right {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.container img {
    position: relative;
    width: 100%;
    max-width: 512px;
    left: 28px;
    top: 87px;
}

/* Media queries */
@media screen and (max-width: 1200px) {
    .container .left {
        width: 600px;
    }

}

@media screen and (max-width: 900px) {
    .container {
        display: block;
    }
    .container .left {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .container .right {
        display: none;
    }
    .container .left ul {
        top: -58px;
        padding: 0 0 0 40px;
    }
}
@media screen and (max-width: 540px) {
    .container {
        height: 130vw;
    }
    .container .left ul {
        top: -38px;
        padding: 0 0 0 40px;
    }
    .container h1 {
        width: 100%;
        line-height: 16vw;
        font-size: 12vw;
    }
    .container h2 {
        width: 90%;
        top: 20px;
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 5vw;
        line-height: 7vw;
    }
    .container form {
        width: 100%;
        top: 40px;
    }
    .container form input {
        width: 88%;
    }
    .container form button {
        display: block;
        width: 88%;
        top: 8px;
        left: 0;
        border-radius: 3px;
    }
    .waiting-list-loader {
        left: 39%;
        top: -32px;
    }
}