.container {
    padding: 30px 0 40px 80px;
    max-width: 800px;
}
.container a {
    text-decoration: underline;
}
.container p {
    padding: 0 80px 0 0;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #030163;
}

.container h1 {
    padding: 20px 20px 0 0;
    margin: 0;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 65px;
    color: #030163;
}
.container h2 {
    padding: 16px 80px 0 0;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #030163;
}
.container h3 {
    padding: 12px 80px 0 0;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 31px;
    color: #030163;
}
.container h4 {
    padding: 10px 80px 0 0;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #030163;
}

@media screen and (max-width: 800px) {
    .container {
        padding: 30px 0 40px 30px;
        max-width: unset;
    }
    .container p {
        padding: 0 20px 0 0;
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #030163;
    }
    .container h1 {
        padding: 20px 20px 0 0;
        margin: 0;
        font-family: Nunito;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 46px;
        color: #030163;
    }
    .container h2 {
        padding: 10px 20px 0 0;
        font-family: Nunito;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 36px;
        color: #030163;
    }
    .container h3 {
        padding: 30px 20px 0 0;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        color: #030163;
    }
    .container h4 {
        padding: 10px 20px 0 0;
        font-family: Nunito;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: #030163;
    }
}