.bottom-download-container {
    position: relative;
    width: 100%;
    height: 292px;
    background: url("https://storage.googleapis.com/teleport-main-website-assets/images/stars-dark-blue-background.svg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.bottom-download-container-hidden {
    display: none;
}
.bottom-download-container  h1 {
    position: relative;
    top: 76px;
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    color: #FFFFFF;
}
.bottom-download-container a {
    position: relative;
    top: 100px;
    padding: 14px 78px 14px 78px;
    background: #E127EB;
    border-radius: 3px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}
.bottom-download-container form {
    position: relative;
    top: 92px
}
.bottom-download-container form input {
    position: relative;
    top: 3px;
    width: 272px;
    height: 48px;
    padding-left: 16px;
    background: #F7F9FA;
    border: 2px solid #E127EB;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #030163;
}
.bottom-download-container form input:focus {
    outline-width: 0;
}
.bottom-download-container form input::placeholder {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #6D63A6;
}
.bottom-download-container form button {
    position: relative;
    border: none;
    top: 4px;
    left: -4px;
    min-width: 220px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 10px;
    height: 48px;
    background: #E127EB;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}
.bottom-download-container form button:active {
    outline-width: 0;
}
.bottom-download-container form button:focus {
    outline-width: 0;
}
.bottom-download-container form p {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF
}

.bottom-download-container .waiting-list-loader {
    position: absolute;
    width: 30px;
    top: 54px;
    margin: 0;
    padding: 0;
}