.container {
    position: relative;
    width: 100%;
}
.main-title {
    position: relative;
    width: 100%;
    height: 166px;
    background: linear-gradient(212.85deg, #E127EB -25.19%, #8800F0 35.96%, #00F2FF 100.85%);
    display: flex;
    align-items: center;
    justify-items: center;
}
.main-title span {
    position: relative;
    width: 100%;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 87px;
    text-align: center;
    color: #FFFFFF;
}
.steps {
    position: relative;
    top: 92px;
    list-style-type: none;
    margin: 0;
    padding-left: 142px;
    padding-bottom: 100px;
}

.steps li {
    position: relative;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: #030163;
    margin: 0;
    padding-bottom: 100px;
}
.steps li img {
    display: block;
    position: relative;
    top: 24px;
}
.step-number {
    color: #8800f0;
}
.download-container {
    position: relative;
    width: 100%;
    height: 292px;
    background: url("https://storage.googleapis.com/teleport-main-website-assets/images/stars-dark-blue-background.svg");
    display: flex;
    flex-direction: column;
    align-items: center;
}
.download-container h1 {
    position: relative;
    top: 76px;
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    color: #FFFFFF;
}
.download-container a {
    position: relative;
    top: 100px;
    padding: 14px 78px 14px 78px;
    background: #E127EB;
    border-radius: 3px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}